.giftbtn {
    background-color: #fffef2;
    border: #d6d5cc solid;
    border-width: thin;
    width: 60%;
    padding: 20px;
    font-family: "Suisse Regular";
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    margin-top: 2vh;
    box-shadow: rgb(153, 153, 153);
}

.giftbtn:hover{
    background-color: #333333;
    color: white;
}