.landingContainer{
  /* border: blue solid; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  /* justify-content: center; */
  
}

.titleContainer{
  z-index: 4;
  /* border: slateblue solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  font-family: "Suisse Medium", sans-serif;
  width: 100vw;
  height: 59vh;
  /* padding-top: 9%; */
  /* padding-bottom: 13%; */
  color: #FFFEF2;
  /* height: 0; */
  background-image: url("../../assets/images/Aesop-Homepage-Banner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  /* padding-top: 32.6%; */
  grid-column: 1/3;
}

.wordsContainer{
  margin-top: 4vh;
  /* margin-right: 30vw; */
  grid-column: 1/3;
  /* margin-bottom: 12vh; */
}

.wordsContainer .title{
  /* border: solid; */
  width: 50vw;
  font-size: 2vw;
  margin: 0%;
}

.wordsContainer .subtitle{
  font-size: 2vh;
  margin-top: 1%;
}

.logo {
  grid-column: 1/3;
  width: 7vw;
  margin-left: 2vw;
  margin-right: 15vw;

}

.NavLogo-icon--path{
  fill: #FFFEF2;
}