.login {
  /* margin-right: 2vw; */
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  color: #FFFEF2;
}

.dot{
  border-radius: 100%;
  width: 1px;
  height: 1px;
  border: solid;
  background-color: black;
  margin-right: 5vw;
  margin-left: 2vw;
}

.flex{
  display: flex;
  align-items: baseline;
}