.navBar{
  /* border: red solid; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: transparent;
  position: fixed;
  width: 100vw;
  z-index: 5;
  color: #CFCFCF;
}
.links{
  display: flex;
  list-style: none;
}
li {
  padding: 2vw;
  padding-top: 0;
  padding-bottom: 0;
}