.navBar{
  border: red solid;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}

.links{
  display: flex;
  list-style: none;
}

.navLinks {
  padding: 2vw;
  padding-top: 0;
  padding-bottom: 0;
}