 .modalBackground{
  margin-left: -50vw;
  margin-top: -3vh;
  z-index: 1000;
  position: fixed;
  width: 102vw;
  height: 103vh;
  background-color:rgba(0, 0, 0, 0.5);
}

 .modalMine{ 
  /* border: tomato solid; */
  /* margin-left: -38vw; */
  z-index: 20000;
  width: 50vw;
  height: 103vh;
  position: relative;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F2F0E9;
  animation: inLeft 1s;
}

@keyframes inLeft {
  from {
      left: -50vw;
      opacity: 0
  }

  to {
      left: 0vw;
      opacity: 1
  }
}

@keyframes outRight {
  from {
      right: 0px;
      opacity: 1
  }

  to {
      right: 100vw;
      opacity: 0
  }
}

.modalContent{
  /* border: tomato solid; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 25vh;
  color: #423F3D;
  font-family: "Suisse Medium", sans-serif;
  font-size: 14px;
}

.content{
  font-family: "Suisse Regular", sans-serif;
}

.closeModal{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin: 1vw;
  align-self: flex-end;
  font-family: "Suisse Regular", sans-serif;
  font-size: 22px;
}

.closeModal:active + .modal{
  animation: outRight 1s;
}

.lineBreak{
  display: inline-block;
  border: solid 1px;
  width: 100%;
  color: #D7D4CD;
}

.modalContent .lineBreak{
  display: inline-block;
  border: solid 0.5px;
  background-color: #D7D4CD;
  width: 100%;
  color: #D7D4CD;
}

.modalContent .subtitle1{
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.content{
  display: flex;
  justify-content: space-between;
}

.content .subtitle2 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: #84817F;
}

.content2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.content2 .subtitle2{
  /* border: tomato solid; */
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: #84817F;
}

.afterLine{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
