/* .storebtn {
    background-color: #fffef2;
    border: #d6d5cc solid;
    border-width: thin;
    color: #333333;
    padding: 10px;
    font-family: "Suisse Medium";
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    box-shadow: rgb(153, 153, 153);
    
}

.storebtn:hover{
    background-color: #333333;
    color: white;
    transition-duration: 0.4s;
} */