.bannerContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4vh;
  padding-top: 2vh;
  background-color: #212121;
}
.bannerButton{
  /* border: salmon solid; */
  border: none;
  display: flex;
  outline: none;
  cursor: pointer;
  min-width: 28%;
  height: 100%;
  background-color: transparent;
  margin-bottom: 2.5vh;
  padding-left: 0;
  padding-right: 0.5%;
  /* border-bottom: solid 2px; */
  color: #CFCFCF;
}

.bannerText{
  width: 100%;
}


.bannerButton:hover{
  border-bottom: solid 2px;
}

.plusSign{
  margin-left: 5vw;
}